aiofiles
cachetools
discord.py>=1.7.0,<2.0.0
git+https://github.com/Rapptz/discord-ext-menus
# Essentially, this is a fork of XuaTheGrate's Flag-Parsing
# package because the maintainer has deleted it. This can
# be safely removed if and when Sleepy updates to discord.py
# v2.0.0a
git+https://github.com/HitSyr/Flag-Parsing@fixes
emoji>=1.0.0,<2.0.0
# See https://github.com/ssut/py-googletrans/issues/280
googletrans>=4.0.0rc1
jishaku>=2.2.0
matplotlib
opencv-python-headless
Pillow>=8.0.0,!=9.0.*
psutil
pyfiglet
pyyaml
scikit-image
