aiofiles
cachetools
git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus
emoji>=1.1
# See https://github.com/ssut/py-googletrans/issues/280
googletrans>=4.0.0rc1
jishaku>=2.4
matplotlib
opencv-python-headless
Pillow>=8
psutil
pyfiglet
pyyaml
scikit-image
typing_extensions>=4,<5
